#gameBoard{
    width: 980px;    
    height: 560px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
    overflow: scroll;
}

#test{
    width: 100px;    
    height: 100px;
    left: 1000px;
    top: 10px;
    position: absolute;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
}

#startScreen{
    background:url('../images/Start_Screen.png');
    background-size: contain;
    background-position-x: 0px;
    background-repeat: no-repeat;
    margin:10px 10px;
    width: 960px;
    height: 540px;
    position: absolute;
}

#endScreen{
    background:url('../images/Background2.png');
    background-size: contain;
    background-position-x: 0px;
    background-repeat: no-repeat;
    margin:10px 10px;
    width: 960px;
    height: 540px;
    position: absolute;
    visibility:hidden;
}


#startGameButton{
    background-color: transparent;
    width: 280px;    
    height: 125px;
    left: 355px;
    top: 280px;
    position: absolute;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#restartGameButton{
    background-color: white;
    width: 280px;    
    height: 125px;
    left: 355px;
    top: 280px;
    position: absolute;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#backgroundBoard{
    background:url('../images/Background3.png');
    background-size: cover;
    background-position-x: 0px;
    background-repeat: repeat;
    margin:10px 10px;
    width: 960px;
    height: 540px;
    position: absolute;
    overflow: scroll;

}

#playBoard{
    left: 0px;
    right: 0px;
    margin:10px 10px;
    width: 960px;
    height: 540px;
    position: absolute;
}

#cat{
    position: absolute;
    background:url('../images/Cat.png') center;
    background-repeat: no-repeat;
    background-size:cover;
    height:53px;
    width:90px;
    border-style:solid;
    border-width:1px;
    border-color:black;
}

.brick{
    position: absolute;
    background:url('../images/brick_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-style:solid;
    border-width:1px;
    border-color:black;
}

.ledge{
    position: absolute;
    background:url('../images/fly_ledge.png');
    background-size: contain;
    background-repeat: no-repeat;
    /*background-repeat: no-repeat;
    background-size:100px; */
    /* height:108px;
    width:108px; */
    border-style:solid;
    border-width:1px;
    border-color:red;
}

.floating{
    position: absolute;
    background:url('../images/fly_ledge.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* border-style:solid;
    border-width:1px;
    border-color:red; */
}


.star{
    position: absolute;
    background:url('../images/Star.png');
    background-repeat: no-repeat;
    background-size:45px;
    height:52px;
    width:45px;
    /* border-style:solid;
    border-width:1px;
    border-color:black; */
}

#scoreboard{
    background-image: url('../images/ScoreBoard_Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;    
    height: 70px;
    left: 5px;
    top: 5px;
    position: absolute;
    /* border-style:solid;
    border-width:1px;
    border-color:black; */
    margin:0;
    padding:0;
}

#scoreStar{
    background-image: url('../images/Star_Score.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 52px;    
    height: 52px;
    left: 10px;
    top: 10px;
    position: absolute;
    /* border-style:solid;
    border-width:1px;
    border-color:black; */
    margin:0;
    padding:0;
}

#score{
    position: absolute;
    text-align: center;
    left: 62px;
    top: 22px;
    color: white;
    width: 30px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    /* border-style:solid;
    border-width:1px;
    border-color:purple; */
    margin:0;
    padding:0;
}

#finalScore{
    position: absolute;
    text-align: center;
    left: 62px;
    top: 22px;
    color: black;
    width: 30px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    /* border-style:solid;
    border-width:1px;
    border-color:purple; */
    margin:0;
    padding:0;
}



#timerboard{
    background-image: url('../images/Timer_Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;    
    height: 70px;
    left: 780px;
    top: 5px;
    position: absolute;
    /* border-style:solid;
    border-width:1px;
    border-color:black; */
    margin:0;
    padding:0;
}

#timerPng{
    background-image: url('../images/Clock.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;    
    height: 50px;
    left: 12px;
    top: 10px;
    position: absolute;
    /* border-style:solid;
    border-width:1px;
    border-color:black; */
    margin:0;
    padding:0;
}

#time{
    position: absolute;
    text-align: center;
    left: 60px;
    top: 22px;
    color: white;
    width: 80px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    /* border-style:solid;
    border-width:1px;
    border-color:purple; */
    margin:0;
    padding:0;
}

#seconds{
    position: absolute;
    text-align: center;
    left: 140px;
    top: 22px;
    color: white;
    width: 15px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    /* border-style:solid;
    border-width:1px;
    border-color:purple; */
    margin:0;
    padding:0;
}


