#gameBoard{
    width: 980px;    
    height: 560px;
    margin:0;
    padding:0;
    overflow: hidden;
}

#startScreen{
    background:url('../images/Start_Screen.png');
    background-size: 980px 560px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    margin:10px 10px;
    width: 980px;
    height: 560px;
    position: absolute;
}

#endScreen{
    background:url('../images/End_Screen.png');
    background-size: contain;
    background-position-x: 0px;
    background-repeat: no-repeat;
    margin:10px 10px;
    width: 980px;
    height: 560px;
    position: absolute;
    visibility:hidden;
}


#startGameButton{
    background-color: transparent;
    width: 290px;    
    height: 135px;
    left: 360px;
    top: 300px;
    position: absolute;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#restartGameButton{
    background-color:transparent;
    width: 240px;    
    height: 60px;
    left: 370px;
    top: 360px;
    position: absolute;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#backgroundBoard{
    background:url('../images/Background.png');
    background-size: cover;
    background-position-x: 0px;
    background-repeat: repeat;
    margin:10px 10px;
    width: 960px;
    height: 540px;
    position: absolute;
    overflow: hidden;
}

#playBoard{
    left: 0px;
    right: 0px;
    margin:10px 10px;
    width: 960px;
    height: 540px;
    position: absolute;
}

#cat{
    position: absolute;
    background:url('../images/Cat.png') center;
    background-repeat: no-repeat;
    background-size:cover;
    height:53px;
    width:90px;
}

.brick{
    position: absolute;
    background:url('../images/Brick.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ledge{
    position: absolute;
    background:url('../images/Fly_Ledge.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.star{
    position: absolute;
    background:url('../images/Star.png');
    background-repeat: no-repeat;
    background-size:45px;
    height:52px;
    width:45px;
}

#scoreboard{
    background-image: url('../images/ScoreBoard_Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;    
    height: 70px;
    left: 5px;
    top: 5px;
    position: absolute;
    margin:0;
    padding:0;
}

#scoreStar{
    background-image: url('../images/Star_Score.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 52px;    
    height: 52px;
    left: 10px;
    top: 10px;
    position: absolute;
    margin:0;
    padding:0;
}

#score{
    position: absolute;
    text-align: center;
    left: 62px;
    top: 22px;
    color: white;
    width: 30px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    margin:0;
    padding:0;
}

#finalScore{
    position: absolute;
    text-align: center;
    left: 450px;
    top: 200px;
    color:#9b5936;
    width: 80px;    
    height: 80px;
    font-size: 80px;;
    font-weight: bold;
    margin:0;
    padding:0;
}

#timerboard{
    background-image: url('../images/Timer_Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;    
    height: 70px;
    left: 780px;
    top: 5px;
    position: absolute;
    margin:0;
    padding:0;
}

#timerPng{
    background-image: url('../images/Clock.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;    
    height: 50px;
    left: 12px;
    top: 10px;
    position: absolute;
    margin:0;
    padding:0;
}

#time{
    position: absolute;
    text-align: center;
    left: 60px;
    top: 22px;
    color: white;
    width: 80px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    margin:0;
    padding:0;
}

#seconds{
    position: absolute;
    text-align: center;
    left: 140px;
    top: 22px;
    color: white;
    width: 15px;    
    height: 30px;
    font-size: 24px;;
    font-weight: bold;
    /* border-style:solid;
    border-width:1px;
    border-color:purple; */
    margin:0;
    padding:0;
}


