#gameBoard{
    width: 1020px;    
    height: 585px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
}

#playBoard{
    background:url('../images/City.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin:10px 10px;
    width: 1000px;
    height: 575px;
    position:relative;
}

#cat{
    position: absolute;
    background:url('../images/cat.png');
    background-repeat: no-repeat;
    background-size:100px;
    height:100px;
    width:100px;
    top:100px;
    left:20px;
}